  <ul class="posts clearfix">

  <% if request.fullpath() == "/dashboard"%>
  <li class="post">
    <%= image_tag current_user.avatar.url(:small), :class => "avatar" %>

    <div id="new-post" class="new-post-content-before">
      <h4>Create new post </h4>
    </div>

    <div id="slide-down" class="new-post-content-after hidden">
      <form action="<%= posts_url %>" method="POST" id="post-form" class="hidden">
        <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">

        <label>Title
          <input type="text" name="post[title]">
        </label>
        <br>

        <label>Body
        <textarea name="post[body]"></textarea>
        </label>
        <br>

        <label>Tag
          <input type="text" name="tag[tag_name]">
        </label>
        <br>
        <input class="post-buttons" type="submit" value="Create Text Post">
        <button type="button" class="post-buttons">Cancel</button>

      </form>
    </div>
  </li>

  <%#= link_to "Create new post", new_post_url, :class => "new-post-content "%>
  <!-- <li id="post-form" class="new-post hidden">

  </li> -->
  <% end %>

  <% @posts.each do |post|%>
  <li class="post">
    <%= image_tag post.user.avatar.url(:small), :class => "avatar" %>
    <ul class="post-content">
      <li><%= link_to post.user.username, user_url(post.user) %></li>
      <li><%= link_to post.title, post_url(post) %></li>
      <li><%= post.body if post.body %></li>
      <%#= post.photo_url  if post.photo_url %>
      <%#= post.link_url if post.link_url %>
      <li>
        <ul>
          <% post.tags.each do |tag|%>
            <%= link_to "#" + tag.tag_name, tag_url(tag) %>
          <% end %>
        </ul>
      </li>
      <li>
        <% if post.user == current_user %>
        <div id="edit-post" class="edit-post-content-before">
          <h4>Edit post </h4>
        </div>
        <%#= link_to("Edit Post", edit_post_url(post)) if post.user == current_user %>
        <div class="edit-post-form-container hidden">
          <form action="<%= post_url(post) %>" method="POST" id="edit-post-form">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden"
                   name="authenticity_token"
                   value="<%= form_authenticity_token %>">
          <label>Title
            <input type="text" name="post[title]" value="<%= post.title %>">
          </label>
          <br>

          <label>Body
          <textarea name="post[body]"><%= post.body %></textarea>
          </label>
          <br>

          <label>Add Tag
            <input type="text" name="tag[tag_name]" >
          </label>
          <br>
            <% post.tags.each do |tag|%>
            <h4 class="edit-tag">
              <%= link_to "#" + tag.tag_name, tagging_url(tag.taggings.find_by_post_id(post.id)), method: :delete %>
            </h4>
            <% end %>
            <br>
          <input type="submit" class="edit-post-buttons" value="Edit Text Post">
          <button type="button" class="edit-post-buttons">Cancel</button>
        </form>
        </div>
        <% end %>
      </li>
    </ul>
  </li>
  <% end %>

</ul>
