  <ul class="posts clearfix">

  <% if request.fullpath() == "/dashboard"%>

    <li class="post">
      <%= image_tag current_user.avatar.url(:small), :class => "avatar" %>
      <!-- triangle -->
      <div class="tri"></div>
      <div id="new-post" class="post-content display-inline-block">
        <img src="/assets/logos/iconmonstr-font-size-icon-64.png">
        <h4>Create new post </h4>
      </div>


      <div id="slide-down" class="post-content post-form hidden">
        <form action="<%= posts_url %>" method="POST" id="post-form" class="hidden" data-remote="true" enctype="multipart/form-data">
          <input type="hidden"
                   name="authenticity_token"
                   value="<%= form_authenticity_token %>">

          <label>
            <input type="text" name="post[title]" placeholder="Title" style="width:475px; padding-top: 3px; padding-bottom: 3px; margin-bottom:2px; font-size: 16px;">
          </label>
          <br>
          <!-- Rich text editor controls -->
          <%= render "shared/editor" %>
          <!-- /Rich text editor controls -->
          <label>
          <div id="postarea" name="post[body]" contenteditable="true" style="width:475px; height:100px; border: 1px solid black; overflow:hidden"></div>
          <!-- <textarea name="post[body]" id="postarea" ></textarea> -->
          </label>
          <br>

          <input name="post[body]" id="hidden-post-area" style="display:none;">
          <div class="field">Photo<input type="file" name="post[post_photo]"></div>
          <label>
            <input type="text" name="tag[tag_name]" class="tag-input-bar" placeholder="Tags">
          </label>
          <br>
          <input class="post-buttons" type="submit" value="Post" style="float:left">
          <button type="button" class="post-buttons" style="float:right">Cancel</button>
        </form>
      </div>

    </li>
  <% end %>

 <!-- End of New Post area -->

 <!-- List of posts -->
 <%= render partial: "posts/post", collection: @posts %>


</ul>
