<!-- sidebar -->
<div class="sidebar">
  <ul>
    <li><%= current_user.username %></li>

    <li><%= link_to "Posts", user_url(current_user.id), class: "sidebar-link1" %> </li>
    <li><%= link_to "Followers", user_follows_url(current_user.id), class: "sidebar-link2" %></li>

    <li><%= link_to "Followed Blogs", followings_url, class: "sidebar-link3" %></li>
    <li>
      <form action="<%= user_follows_url(current_user) %>" method="POST">
        <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
        <label for="follow" id="follow-text">Follow a blog</label>
        <br>
          <input type="text" name="follow[follow_name]" id="follow-input">

        <input type="submit" value="Follow">
      </form>
    </li>
  </ul>
</div>