<h1>Dashboard</h1>
<%= current_user.username %>
<%= link_to "Home", dashboard_url%>
<%= link_to "Edit User Info", edit_user_url(current_user.id)%>
<%= button_to "Sign out", session_url, :method=>:delete %>

<ul>
  <% @posts.each do |post|%>
    <li> <%= post.user.username %></li>
    <%= link_to post.title, post_url(post) %>
    <%= post.body if post.body %>
    <%= post.photo_url  if post.photo_url %>
    <%= post.link_url if post.link_url %>
    <h5> Tags: </h5> <% post.tags.each do |tag|%>
    <h5><%= link_to "#" + tag.tag_name, tag_url(tag) %></h5>
    <% end %>
    <%= link_to("Edit Post", edit_post_url(post)) if post.user == current_user %>
  <% end %>

</ul>

<%= link_to "Create new post", new_post_url %>
<br>
<%= link_to "Posts", user_url(current_user.id) %>
<%= link_to "Followers", user_follows_url(current_user.id) %>

<%= link_to "Followed Blogs", followings_url %>

<!-- search bar goes here-->
<!-- <input type="search"-->


<!-- Form to follow another blog -->
<form action="<%= user_follows_url(current_user) %>" method="POST">
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <label>Follow a blog
  <input type="text" name="follow[follow_name]">
  </label>
  <input type="submit" value="Follow">
</form>