<h1>Dashboard</h1>
<%= current_user.username %>
<%= link_to "Edit User Info", edit_user_url(current_user.id)%>
<%= button_to "Sign out", session_url, :method=>:delete %>
<ul>
  <% @posts.each do |post|%>
    <li> <%= link_to post.title, post_url(post) %></li>
    <%= post.body if post.body %>
    <%= post.photo_url  if post.photo_url %>
    <%= post.link_url if post.link_url %>
  <% end %>
</ul>
<%= link_to "Create new post", new_post_url %>