<li class="post">
  <%= image_tag post.user.avatar.url(:small), :class => "avatar" %>
  <!-- triangle -->
  <div class="tri"></div>
  <!-- <div id="new-post" class="post-content display-inline-block">
    <h4>Create new post </h4>
  </div> -->

  <ul class="post-content">

    <li><%= link_to post.user.username, user_url(post.user), class: "post-username" %></li>
    <li><%= link_to post.title, post_url(post), class: "post-title" %></li>
    <li><p><%= post.body.html_safe if post.body %></p></li>
    <% if post.photo_url %>
      <%= image_tag post.post_photo.url(:big), class: "post-photo" %>
    <%end%>

  <br>
  <!-- Tags -->
    <li>
      <ul>
        <% post.tags.each do |tag|%>
          <%= link_to "#" + tag.tag_name, tag_url(tag), class: "post-tags" %>
          <% end %>
      </ul>
    </li>

  </ul>
    <!-- Edit/Delete Post -->

  <div class="grey-bar">
    <% if post.user == current_user %>
      <img src="/assets/logos/post_settings_icon.png" class="edit-post-toggle-btn">
    <%end%>
    <div class="edit-options hidden">
      <ul>
        <li class="edit-option">Edit</li>
        <li class="delete-option"><%= button_to("Delete", post_url(post), method: :delete, class: "delete-button")%></li>
      </ul>
    </div>
  </div>

  <div class="edit-post-form-container post-content post-form hidden">
    <form action="<%= post_url(post) %>" method="POST" id="edit-post-form">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
      <label>
        <input type="text" name="post[title]" value="<%= post.title %>" style="width:475px; padding-top: 3px; padding-bottom: 3px; margin-bottom:2px; font-size: 16px;">
      </label>
      <br>

      <!-- Rich text editor controls -->
      <%= render "shared/editor" %>
      <!-- /Rich text editor controls -->

      <label>
        <div id="edit-post-area" class="edit-post-area" name="post[body]" contenteditable="true" style="width:475px; height:100px; border: 1px solid black; overflow: hidden" ></div>
        <!-- <textarea name="post[body]"><%= post.body %></textarea> -->
      </label>
        <br>

      <input name="post[body]" class="hidden-post-edit-area" value="<%= post.body %>" style="display:none;">

      <label>Add Tag
        <input type="text" name="tag[tag_name]" style="width: 475px">
      </label>
        <br>

      <ul class="edit-tags">
        <% post.tags.each do |tag|%>

         <li> <%= button_to "#" + tag.tag_name, tagging_url(tag.taggings.find_by_post_id(post.id)), method: :delete, class: "delete-tag" %>
         </li>

        <% end %>
      </ul>
      <br>
      <input type="submit" class="edit-post-buttons" value="Edit Text Post" style="float:left">
      <button type="button" class="edit-post-buttons" style="float:right">Cancel</button>
    </form>
  </div>

</li>