<!DOCTYPE html>
<html>
<head>
  <title>Tumblrclone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <header class="clearfix">
    <h1 class="logo">dup(tumblr)</h1>
    <ul>
      <li><a href="<%=dashboard_url%>"><img src="https://s3.amazonaws.com/vishal-tumblr-clone-dev/icons/home_icon.png"></a></li>
      <li><a href="<%= edit_user_url(current_user.id) %>"><img src="https://s3.amazonaws.com/vishal-tumblr-clone-dev/icons/settings_icon.png"></a></li>
      <li><%= link_to image_tag("https://s3.amazonaws.com/vishal-tumblr-clone-dev/icons/log_off_icon.png"), session_url, :method=>:delete %></li>
    </ul>
  </header>
  <div class="main clearfix">

    <%= yield %>
    <div class="sidebar">
      <ul>
        <li><%= current_user.username %></li>

        <li><%= link_to "Posts", user_url(current_user.id) %> </li>
        <li><%= link_to "Followers", user_follows_url(current_user.id) %></li>

        <li><%= link_to "Followed Blogs", followings_url %></li>
        <li>
          <form action="<%= user_follows_url(current_user) %>" method="POST">
            <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
            <label for="follow">Follow a blog</label>
            <br>
              <input type="text" name="follow[follow_name]" id="follow">

            <input type="submit" value="Follow">
          </form>
        </li>
    </ul>
    </div>
  </div>
</body>
</html>
